<?xml version="1.0" encoding="UTF-8"?>
<!-- This is to be placed on the root folder to make IIS redirect http to https -->
<configuration>
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="Redirect-HTTP-HTTPS-IIS">
            <match url="(.*)" />
            <conditions>
              <add input="{HTTPS}" pattern="^OFF$" ignoreCase="true" />
          	</conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
</configuration>
